*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 1347.4px;
    margin-top: 20px;
}
.container{
    width: 1100px;
    margin: 0 auto;
}
.header{
    display: flex;
    align-items: center;
}
ul{
    display: flex;
    gap: 40px;
    margin-left: 60px;
}
li{
    list-style-type: none;
}
.nav__link{
    text-decoration: none;
    color: #000;

font-family: Oswald;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 185.714% */
text-transform: uppercas

}
.button{
    margin-left: 400px;
    border-radius: 30px;
    border: none;
    color: white;
background: #0057FF;
width: 150px;
height: 30px;
flex-shrink: 0;
}